<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center login-title">Login</h1>
      <div class="account-wall">
        <img class="profile-img" src="https://maxcdn.icons8.com/Share/icon/color/Gaming//pokecoin1600.png"
          alt="">
        <form class="form-signin">
          <input type="text" class="form-control" placeholder="Email" #email autofocus><br>
          <input type="password" class="form-control" placeholder="Password" #password><br>
          <button class="btn btn-lg btn-primary btn-block" type="button" 
          (click)="login(email.value,password.value)">Sign in</button>
        </form>
      </div>
      <br>
      <div class="social" style="text-align:center">
      Login Via: <a (click)="FbLogin()"><i class="fa fa-facebook">  </i> </a>
      <!-- <a (click)="googleAuthenticate()"><i class="fa fa-google"> </i> </a> -->
      </div>
      <br><br>
      <a [routerLink]="['/signup']" class="text-center new-account">Create an account</a>
      <br>
    </div>
  </div>
</div>