<style>
  @import url('https://fonts.googleapis.com/css?family=Aldrich');
</style>

<body>
  <div class="panel-heading">
    <div class="panel-title text-center">
      <h1 class="title">SignUp Form</h1>
      <hr />
    </div>
  </div>
  <div class="main-login main-center">
    <form class="form-horizontal" ngNativeValidate (ngSubmit)="onSignup(email.value,name.value,password.value,confirm.value)">

      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Your Name</label><br><br>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
              <i class=" glyphicon glyphicon-user"></i>
            </span>
            <input type="text" class="form-control" placeholder="Enter your Name" required #name/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="cols-sm-2 control-label">Your Email</label><br><br>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-envelope"></i>
            </span>
            <input type="email" class="form-control" id="email" placeholder="Enter your Email" required #email />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="cols-sm-2 control-label">Password</label><br><br>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-asterisk"></i>
            </span>
            <input type="password" class="form-control" #password required placeholder="Enter your Password"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label><br><br>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-asterisk"></i>
            </span>
            <input type="password" class="form-control" placeholder="Confirm your Password" required #confirm />
          </div>
        </div>
      </div>
      <br>
      <div class="form-group ">
        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
      </div>

    </form>
  </div>
<br><br>
</body>